<!DOCTYPE html>
<html>
  <head>
    <title>MSM SIGNIN</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
         <nav>
      <ul>
          <li>
            <a href="/user_sign_in">
              Sign in
            </a>
          </li>
          <li>
            <a href="/user_sign_up">
              Sign up
            </a>
          </li>
        <li>
          <a href="/">
            Home
          </a>
        </li>
      </ul>
    </nav>

    <%= yield %>
    
    <footer>
      <small>
        This product uses the TMDb API but is not endorsed or certified by TMDb.
      </small>
    </footer>

  </body>
 
</html>
